<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6" [routerLink]="['/dailyReport']">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">shopping_bag</i>
                        </div>
                        <!-- <p class="card-category">Buy and Sell Daily Reports</p> -->
                        <h3 class="card-title">Buy and Sell Daily Reports</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i>Updated just now
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sell</i>
                        </div>
                        <!-- <p class="card-category">Product Reports</p> -->
                        <h3 class="card-title">Product Reports</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i>Updated just now
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>