<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Reprint or Cancel Buy Receipts</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <mat-table sortpen [dataSource]="dataSource">

                                <ng-container matColumnDef="name">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="utype.name">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef>Type
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.utype.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Reprint
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element"><button mat-button
                                            (click)="getuserdata(element.id)">More</button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="receptid">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Cancel
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element"><button mat-button
                                            (click)="getuserdata(element.id)">More</button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef=" displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginatorpen [pageSizeOptions]="[10,100,200]" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>